name: a11y-test

env:
  owner: venkatayedidasv
  repo: a11y-cypress-test
  
on:
  workflow_dispatch:
    inputs:
      my_variable:
        description: 'A custom variable'
        required: true
  push:
    branches: [main]

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Display Variable
        run: echo "The custom variable is ${{ github.event.inputs.my_variable }}"
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm test
          browser: chrome
          #env: test_url=https://www.ikea.com/se/sv/
          env: test_url=https://example.cypress.io
          #env: test_url=https://www2.hm.com/sv_se/index.html
        continue-on-error: true
      - name: Upload Cypress test videos
        uses: actions/upload-artifact@v3
        with:
          name: cypress-videos
          path: |
            cypress/videos/*.mp4
      - name: Upload A11y test reports
        uses: actions/upload-artifact@v3
        with:
          name: a11y-report
          path: |
            log.json

