name: a11y-test

env:
  owner: venkatayedidasv
  repo: a11y-cypress-test
  
on:
  workflow_dispatch:
    inputs:
      my_variable:
        description: 'A custom variable'
        required: true

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Display Variable
        run: echo "The custom variable is ${{ github.event.inputs.my_variable }}"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          npm install
          npm i cypress

      - name: Run
        run: |
          #npx cypress run --env test_url=${{ github.event.inputs.my_variable }}
          npx cypress run --env test_url=https://example.cypress.io

      - name: Upload Cypress test videos
        uses: actions/upload-artifact@v3
        with:
          name: cypress-videos
          path: |
            cypress/videos/*.mp4

      - name: Set Artifact Name
        id: set-artifact-name
        run: echo "::set-output name=artifact_name::a11y-report-$(echo ${{ github.event.inputs.my_variable }} | tr '/' '-')"

      - name: Upload A11y test reports
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.set-artifact-name.outputs.artifact_name }}
          path: |
            log.json
