name: Cypress Tests

on:
  pull_request:
    branches: [main]
  workflow_dispatch:


jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm test
          browser: chrome
        env:
          CYPRESS_TEST_URL: https://example.cypress.io
        continue-on-error: true
      - name: Upload Cypress test videos
        uses: actions/upload-artifact@v3
        with:
          name: cypress-videos
          path: |
            cypress/videos/*.mp4
      - name: Upload A11y test reports
        uses: actions/upload-artifact@v3
        with:
          name: a11y-report
          path: |
            log.json

